<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/I_O_APl/src/Datainput_Output/DataIp_OpStream.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Datainput_Output.DataIp_OpStream"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="I_O_APl"/>
</launchConfiguration>
